%div.left-content
    %div.user-name
        %p seo
        %i.fas.fa-edit
        %i.fas.fa-cog
    %div.chat-group
        %p seo
        %p seo

%div.right-content
    %div.chat-name
        %p sample
    %div.chat-space
        %p seo
        %p 初めまして
    %div.entry-form
