%div.left-content
    %div.user-content
        %p.user-name seo
        %i.fas.fa-edit
        %i.fas.fa-cog
    %div.chat-group
        %p.chat-name seo
        %p.chat-text seo

%div.right-content
    %div.group-name
        %p sample
    %div.chat-space
        %p seo
        %p 初めまして
    %div.entry-form
