%div.left-content
    %div.user-content
        %p.user-name seo
        %i.fas.fa-edit
        %i.fas.fa-cog
    %div.chat-group
        %p.chat-name seo
        %p.chat-text seo

%div.right-content
    %div.group-title
        %p.group-name sample
        %p.group-member Members: seo neko
        %p.edit edit
    %div.chat-space
        %p.member-name seo
        %span.time 2016/09/21 06:16:55
        %p.member-text 初めまして
