.right-content
  .group-title
    %p.group-name sample
    %p.group-member Members: seo neko
    %a.edit{href: ""} edit
  .chat-space
    %p.member-name seo
    %span.time 2016/09/21 06:16:55
    %p.member-text 初めまして
  %form.entry-form
    %input.entry-sheet{placeholder: "type a message"}
    %label.upload-label{for: "upload-icon"}
      %i.fa.fa-image
      %input{type: "file", id: "upload-icon", style: "display:none"}
    %input.send{type: "submit", value: "Send"}


