.left-content {
  background-color: $side_blue_light;
  width: 300px;
  height: 100vh;
  color: #FFFFFF;
  float: left;
  .user-content {
    height: 100px;
    padding: 0 20px;
    background-color: $side_blue_dark;
    .user-name {
      font-size: 16px;
      font-weight: bold;
      padding-top: 35px;
      float: left;
    }
    .fa {
      padding-top: 35px;
      padding-left: 10px;
      float: right;
      color: #FFFFFF;
    }
  }
  .chat-group {
    padding: 0 20px;
    .chat-name {
      font-size: 15px;
      margin-top: 20px;
    }
    .chat-text{
      margin-top: 5px;
      margin-bottom: 20px;
      font-size: 11px;
    }
  }
}
