.right-content {
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #AAAAAA;
  float: right;
  position: relative;
  .group-title {
    background-color: white;
    width: 100%;
    height: 100px;
    padding: 0 40px;
    position: relative;
    border-bottom: solid #eeeeee 1px;
    box-sizing: border-box;
    .group-name {
      padding-top: 35px;
      font-size: 20px;
      color: #333333;
    }
    .group-menber {
      padding-top: 15px;
      font-size: 12px;
      color: #999999;
    }
    .edit {
      position: absolute;
      top: 28px;
      right: 40px;
      color: #38AEF0;
      border: solid #38AEF0 1px;
      padding: 0 20px;
      line-height: 40px;
    }
  }
  .chat-space {
    padding: 0 40px;
    .member-name {
      margin-top: 46px;
      font-size: 16px;
      display: inline-block;
      font-weight: bold;
      color: #434A54;
    }
    .time {
      font-size: 12px;
      color: #999999;
      margin-left: 10px;
    }
    .member-text {
      padding-top: 10px;
      font-size: 14px;
      color: #434A54;
    }
  }
  .entry-form {
    background-color: #eeeeee;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    border-style: solid;
    border-width: 20px 40px;
    border-color: #eeeeee;
    .entry-sheet {
      height: 50px;
      width: calc(100% - 154px);
      padding-left: 10px;
      font-size: 16px;
    }
    .fa {
      color: black;
      position: absolute;
      right: 150px;
      bottom: 15px;
    }
    .send {
      background-color: #38AEF0;
      color: white;
      float: right;
      height: 50px;
      width: 100px;
      margin-right: 25px;
    }
  }
}



